:root {
}

.unity-tab {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

.unity-tab-view {
}

.unity-tab__header {
    width: 419px;
    height: 122px;
    font-size: 56px;
}

.unity-tab__content-container {
    width: 75%;
    height: 100%;
    background-color: rgba(102, 232, 255, 0.47);
    flex-grow: 1;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-top: 15px;
}

.unity-tab-view__content-container {
    width: 100%;
    height: 100%;
}
