.unity-tab {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

.unity-tab-view {
    flex-direction: row;
    background-color: rgb(66, 65, 64);
}

.unity-tab__header {
    width: 419px;
    height: 122px;
    font-size: 60px;
    background-image: resource("Sprites/Menu/MenuBtn");
    background-color: rgba(255, 255, 255, 0);
    -unity-text-align: middle-center;
    justify-content: space-around;
    color: rgb(92, 221, 138);
    margin-bottom: 63px;
    transition-property: font-size, color;
    transition-duration: 0.2s, 0.2s;
}

.unity-tab__header-underline {
    display: none;
}

.unity-tab-view__header-container {
    flex-direction: column;
    flex-wrap: nowrap;
    align-self: center;
    background-color: rgba(255, 0, 0, 0);
}

.unity-tab__content-container {
    width: 75%;
    height: 100%;
    flex-grow: 1;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-top: 15px;
    border-top-width: 7px;
    border-right-width: 7px;
    border-bottom-width: 7px;
    border-left-width: 7px;
    border-left-color: rgb(89, 185, 123);
    border-right-color: rgb(89, 185, 123);
    border-top-color: rgb(89, 185, 123);
    border-bottom-color: rgb(89, 185, 123);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color: rgb(92, 221, 138);
}

.unity-tab-view__content-container {
    width: 100%;
    height: 100%;
}

.unity-tab__header:hover {
    font-size: 83px;
    color: rgb(21, 146, 66);
}

.unity-tab__header:checked {
    width: 419px;
    height: 122px;
    background-image: resource("Sprites/Menu/MenuBtn");
    background-color: rgba(0, 255, 68, 0.157);
    justify-content: space-around;
    margin-bottom: 63px;
}
