.custom-progress-bar {
}

.custom-progress-bar .unity-progress-bar__container {
    height: auto;
    flex-grow: 1;
    min-height: auto;
    max-height: none;
}

.custom-progress-bar .unity-progress-bar__title {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.health-progress-bar {
}

.health-progress-bar .unity-progress-bar__background {
    background-color: rgb(0, 0, 0);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

.health-progress-bar .unity-progress-bar__progress {
    background-color: rgb(233, 103, 106);
}

.stamina-progress-bar {
}

.stamina-progress-bar .unity-progress-bar__background {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    background-color: rgb(0, 0, 0);
}

.stamina-progress-bar .unity-progress-bar__progress {
    background-color: rgb(233, 233, 233);
}

.attack-progress-bar {
}

.attack-progress-bar .unity-progress-bar__background {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    background-color: rgb(0, 0, 0);
}

.attack-progress-bar .unity-progress-bar__progress {
    background-color: rgb(202, 180, 66);
}
