.custom-slider .unity-base-slider__tracker {
    height: 23px;
}

.custom-slider .unity-base-slider__dragger {
    align-self: auto;
    translate: 0 -50%;
    width: 18px;
    height: 45px;
}

.custom-slider .unity-drager-border {
}

.custom-slider .unity-base-slider__drag-container {
    justify-content: center;
    align-items: auto;
    align-self: center;
    align-content: flex-start;
}

.custom-slider .unity-slider__label {
    font-size: 52px;
    -unity-text-align: middle-left;
}
