.inventory-item {
    flex-grow: 1;
    align-self: center;
    justify-content: flex-start;
    width: 80px;
    height: 80px;
    background-color: rgba(221, 108, 108, 0);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    -unity-background-scale-mode: scale-to-fit;
}
