.inventory-item {
    flex-grow: 1;
    align-self: center;
    justify-content: flex-start;
    width: 80px;
    height: 80px;
    background-color: rgba(221, 108, 108, 0);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    -unity-background-scale-mode: scale-to-fit;
}

.minimap-filter-class {
    filter: filter(url("project://database/Assets/Game/Resources/Prefabs/UI/UIToolkit/CrtFilter/CRT.asset?fileID=11400000&guid=d2c417df648045a47a47a5638d90b4e4&type=2#CRT")) filter(url("project://database/Assets/Game/Resources/Prefabs/UI/UIToolkit/FisheyeFilter/FisheyeFilter.asset?fileID=11400000&guid=7976d43b48a7ae24e968de899ebcef6c&type=2#FisheyeFilter") -0.13 0.52);
}

.avatar-image {
    aspect-ratio: 1;
}

.player-name {
}

.custom-progress-bar {
}

.custom-progress-bar .unity-progress-bar__container {
    height: auto;
    flex-grow: 1;
    min-height: auto;
    max-height: none;
}

.health-progress-bar {
}

.health-progress-bar .unity-progress-bar__background {
    background-color: rgb(0, 0, 0);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

.health-progress-bar .unity-progress-bar__progress {
    background-color: rgb(233, 103, 106);
}

.stamina-progress-bar {
}

.stamina-progress-bar .unity-progress-bar__background {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    background-color: rgb(0, 0, 0);
}

.stamina-progress-bar .unity-progress-bar__progress {
    background-color: rgb(146, 179, 216);
}
